body{
    background: black;
}
.main{
    width: 100%;
    //
    @media all and(min-width:768px){
    display: flex;
    justify-content: flex-end;
    margin-top:220px;
    }
};

/*.footer{
    width: 100%;
    &__icon{
        color:white;
        width: 30px;
        height: 30px;
        font-size: 20px;
        text-align: end;
        position: fixed;
        bottom: 20px;
        right: 15px;
        @media all and(min-width:768px){
            font-size: 25px;
        };
    };
};*/